* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgba(175, 218, 92, 0.5);
}

header {
    background-image: url("../img/sfondo.png");
}

.fit-content {
    width: fit-content;
}

.logo {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -10%);
}

@media (max-width: 992px) {
    .logo {
    transform: translate(-50%, -20%);
    }
}


.color-first {
    background-color: #afda5c;
}

.color-second {
    color: #f2e9e3;
}

.focus-ring-green {
    --bs-focus-ring-color: rgba(var(--bs-success-rgb), .25);
                   
}


/*
body {
    margin: 0;
    padding: 0;
    background-color: #f2e9e3;
   
    align-items: center;
    justify-content: center;
}
header {
    height: 600px;
    text-align: center;
    background-image: url("https://media.istockphoto.com/id/475511846/vector/kitchen-seamless-pattern-vector-background.jpg?s=612x612&w=0&k=20&c=inpW5Mc2MFyuc7PsMXVY49OUBU39EXekcCNe8xVeI_k=");
}

.navigation-bar {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    height: 70px;
    display: flex;

}

.hero {
    margin-top: 0;
    width: 100%;
    height: 400px;
    align-items: center;
}

.rettangolo {
    margin: auto;
    text-align: center;

    width: 40%;
    height: 150px;
    background-color: #f2e9e3;
}


section {
    margin: auto;
    margin-top: 50px;

}


.logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #df711b;
    border: 3px solid black;
}

.nav-link {
    color: white;
    text-transform: uppercase;
}

.nav-item, .btn {
    margin: 0 20px;
}

.form-control {
    display: none;
}

.slide-show {
    display: flex;
    width: 70%;
    justify-content: center;

}

.card {
    width: 18rem;
    align-items: center;
    margin: 0 5px;
}
.col-4 {
    text-align: center;
    margin: auto;
}






*/


/* COPIATO */

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #f2e9e3;
    border-radius: 5px 5px 0 0;
    color: black;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}


form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #df711b;
    border: 1px solid #f2e9e3;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #df711b;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #df711b;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #df711b;
    border: 1px solid #df711b;
    cursor: pointer;
}

form .button input:hover {
    background: #df711b;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #df711b;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

